ul{
    height: 300px;
    display: grid;
   /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr;*/ /*1 fr za svaki stupac*/
   grid-template-columns: 100px 100px 1fr 1fr;
   grid-template-rows: 100px 50px 20px; 
   gap: 10px;
   justify-items: start;
   align-items: end;
}

li{
    background-color: lightgray;
    border: 1px solid grey;
}

main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
}

div{
    background-color: aqua;
    border: 1px solid black;
    border-radius: 5px;
}